# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# =========================
# Virtual Environment
# =========================
venv/
.env
.env.*

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Testing / Coverage
# =========================
.coverage
htmlcov/
.pytest_cache/

# =========================
# Build
# =========================
dist/
build/
*.egg-info/